.statsPanel{
    margin:0px;
    ion-item{
        --background: rgba(117,144,214,.2);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;

        font-weight: 600;
        .statsNumber{
            font-size: 2rem;
    font-weight: bold;
    text-align: right;
        }
    }
}