<ion-menu type="overlay" side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-list class="page-links" lines='none'>

        
            <ion-item button detail="true" (click)="openEditActivitiesModal()">
                <ion-avatar slot="start">
                    <img src="../../../../assets/images/icons/wash.svg" style="filter: invert(1);">
                    </ion-avatar>
                    Edit daily activities
            </ion-item>


        

        

        
            
        </ion-list>
    </ion-content>
  </ion-menu>