:root {
	--ion-color-primary: #a3d3ff;
	--ion-color-primary-rgb: 163,211,255;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #8fbae0;
	--ion-color-primary-tint: #acd7ff;

	--ion-color-secondary: #d8c0e7;
	--ion-color-secondary-rgb: 216,192,231;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bea9cb;
	--ion-color-secondary-tint: #dcc6e9;

	--ion-color-tertiary: #b3e6e0;
	--ion-color-tertiary-rgb: 179,230,224;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #9ecac5;
	--ion-color-tertiary-tint: #bbe9e3;

	--ion-color-success: #77dd77;
	--ion-color-success-rgb: 119,221,119;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #69c269;
	--ion-color-success-tint: #85e085;

	--ion-color-warning: #f9e4ae;
	--ion-color-warning-rgb: 249,228,174;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dbc999;
	--ion-color-warning-tint: #fae7b6;

	--ion-color-danger: #ff6961;
	--ion-color-danger-rgb: 255,105,97;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e05c55;
	--ion-color-danger-tint: #ff7871;

	--ion-color-medium: #7e7f81;
	--ion-color-medium-rgb: 126,127,129;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #6f7072;
	--ion-color-medium-tint: #8b8c8e;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}