<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancelChanges()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>Add activity</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirmChanges()">Done</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="searchbarInput($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="light" class="ion-padding">

    <!-- <ion-card>
      
        <ion-card-content >
            <ion-input placeholder="Enter new symptom name" [(ngModel)]="newSymptomName"></ion-input>
            </ion-card-content>
            <ion-button expand="full"  (click)="onSymptomAdd()">
                <ion-icon slot="start" name="add"></ion-icon>
                New symptom
              </ion-button>
            </ion-card> -->

            <div class="activitiesContainer">
              <ng-container *ngFor="let item of items | keyvalue">
                 
                  <h3>{{ item.key }} spoon activities:</h3>
          
                    <ng-container *ngFor="let activity of item.value">
          
                      <div class="itemContainer">
          
                          <div class="itemCheck">
                              <ion-checkbox [(ngModel)]="activity.isCompleted" ></ion-checkbox>
                          </div>
          
                          <div class="itemLabel">{{ activity.activity.name }}</div>
          
          
                      </div>
          
          
                    </ng-container>
                  </ng-container>
                </div>
  </ion-content>