ion-item {
    --background: rgba(144, 145, 145, 0.446);
    padding: 0;
    margin: 14px 0;
    --border-radius: 14px;
    font-weight: 600;
    .editContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    ion-checkbox{

      padding: 6px 0;

      h4 {
        font-weight: 600;
        font-size: 16px;
      }
      h6 {
        color: rgba(255,255,255,.66);
      }
    
}

  }

  .itemChecked{
    --background: rgba(74, 169, 216, 0.446);
  }

  .spoonCost{
    ion-list{
        background:none;
    }
  }